@charset "UTF-8";

body {
	background: url(/images/background.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

@media ( max-width : 991px) {
	body {
		background-color: #CE93D8 !important;
	}
}

.page-link {
    cursor: pointer;
}

@media ( max-width : 991px) {
	.container-wrapper {
		max-width: 100%;
	}
}

.content1 {
	padding-right: 5px;
}

.content2 {
	padding-left: 5px;
}

@media ( max-width : 991px) {
	.content {
		margin-right: 0;
		margin-left: 0;
		display: block;
	}
	.content1 {
		padding-right: 0;
		padding-left: 0;
	}
	.content2 {
		padding-right: 0;
		padding-left: 0;
	}
}