<!-- Modal -->
<div class="modal fade" id="modal3" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Select tag</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			
			<div class="modal-body">
				<label for="id">Unused tags:</label>
				<div class="card">
					<div id="unUsedTag" class="card-body">
						<span th:replace="~{/back/common/tags::tags(${unUsedTags})}"></span>
					</div>
				</div>
				<div class="row" style="width: 100%; height: 10px"></div>
				<label for="id">Used tags:</label>
				<div class="card">
					<div id="usedTag" class="card-body">
						<span th:replace="~{/back/common/tags::tags(${article.tags})}"></span>
					</div>
				</div>
			</div>
			
			<div class="modal-footer">
				<button id="refreshTag" type="button" class="btn btn-primary" onclick="tagsRefresh()">Refresh</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#modal4">Upload</button>
				<button id="addTag" type="button" class="btn btn-primary" data-dismiss="modal" onclick="addTag()">Select</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).on("click", "#unUsedTag span", function(){
		$("#usedTag #tags_refresh").append($(this)[0].outerHTML);
		$(this).remove();
		$("#articleTags").html($("#usedTag").html());
    });
	$(document).on("click", "#usedTag span", function(){
		$("#unUsedTag #tags_refresh").append($(this)[0].outerHTML);
		$(this).remove();
		$("#articleTags").html($("#usedTag").html());
    });
	
	function tagsRefresh() {
	    $('#unUsedTag').load("/tag/unUsedTags/" + $("#articleId").val());
	    $('#usedTag').load("/tag/usedTags/" + $("#articleId").val());
	    $("#articleTags").html($("#usedTag").html());
	}
	
	function addTag() {
		$("#articleTags").html($("#usedTag").html());
	}
</script>