<footer class="footer text-center foot">
	<link rel="stylesheet" href="/css/front/foot.css" />
	<span id="words">Place sticky footer content here.</span>
</footer>

<script>
	var randomInt = Math.floor(Math.random() * 3 + 1)
	switch (randomInt) {
		case 1:
			document.getElementById("words").innerHTML = "Success depends on the day to day,rather than temporary boold.";
			break;
		case 2:
			document.getElementById("words").innerHTML = "My updates will be slow,because I want every article I write to be great!";
			break;
		default:
			document.getElementById("words").innerHTML = "In the face of temptation, always remember that one step ahead is the abyss.";
	}
</script>
